<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} code_%-4relative [%thread] %-5level%logger{35}\(Line:%line\) | %msg%n</Pattern>
		</encoder>
	</appender>


	<appender name="INFO-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./LogApp/INFO.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element 
				or else the rollover logs are placed in the working directory. -->
			<fileNamePattern>./LogApp/INFO_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} code_%-4relative [%thread] %-5level%logger{35}\(Line:%line\) | %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="DEBUG-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./LogApp/DEBUG.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element 
				or else the rollover logs are placed in the working directory. -->
			<fileNamePattern>./LogApp/DEBUG_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>500MB</totalSizeCap>

		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} code_%-4relative [%thread] %-5level%logger{35}\(Line:%line\) | %msg%n</pattern>
		</encoder>
	</appender>



	<appender name="ERROR-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./LogApp/ERROR.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element 
				or else the rollover logs are placed in the working directory. -->
			<fileNamePattern>./LogApp/ERROR_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} code_%-4relative [%thread] %-5level%logger{35}\(Line:%line\) | %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="WARN-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./LogApp/WARNING.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element 
				or else the rollover logs are placed in the working directory. -->
			<fileNamePattern>./LogApp/WARNING_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} code_%-4relative [%thread] %-5level
				%logger{35}\(Line:%line\) | %msg%n</pattern>
		</encoder>
	</appender>








	<root level="ERROR">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="ERROR-LOG-FILE" />
	</root>
	
	<!-- -->
	<root name="com.saigonbpo.wsqc" level="INFO">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="INFO-LOG-FILE" />
	</root>
	  
	
	<logger name="com.saigonbpo.wsqc.Mapper" level="DEBUG">
		<!-- <appender-ref ref="consoleAppender" /> -->
		<appender-ref ref="DEBUG-LOG-FILE" />
	</logger>
	








</configuration>